/*By jesús */
body {
  background-image: url('fondo.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.caja {
  position: absolute;
  width: 350px;
  height: 147px;
  background-image: url('heli.png');
  top: 0;
  left: 0;
  transition: top 300ms;
}
