body {
  background-image: url('fondo.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.caja {
  position: absolute;
  width: 350px;
  height: 147px;
  background-image: url('heli.png');
}
